body{
  font-family: serif;
  margin: 0;
  margin-bottom: 0;
}

.header{
 background-color: rgb(7, 7, 7);
  color: white;
  border: 1px, solid, black;
  width: 100%;
  display: inline-block;
  font-family: cursive;
  position: fixed;
  top: 0;
  z-index: 10;
}
.header h1{
  padding-left: 20px;
}


.menu-list {
  display: flex;
  position: absolute;
  right: 30px;
  color: aliceblue;
  top: 15px;
}
.menu-list a{
  padding-left: 20px;
  cursor: pointer;
  font-family: sans-serif;
  background-color: transparent;
  color: white;
  border: none;
  margin-top: 20px;
  font-size: 15px;
  text-decoration: none;
}



.inside-content{
  display: block;
  justify-items: center;
  margin-top: 10% ;
  font-size: larger;
  font-family: sans-serif;
}
#list{
  margin-left: 120px;
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  margin-bottom: 10px;
}
.all-images{
  display: grid;
  grid-template-columns: 370px 370px 370px;
  row-gap: 20px;
  vertical-align: top;
}
.all-images img{
  border-radius: 10px;

}
.all-images img:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.cat-card{
  display: none;
  position: fixed;
  width: 155px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.829);
  color: white;
  font-family: sans-serif;
  right: 115px;
  top: 14.5%;
  z-index: 9;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.cat:hover{
  color: blue;
  transition: 0.5s;
}

.about{
  text-wrap: wrap;
  text-align: center;
  width: 100%;
  padding-top: 10px;
  margin-top: 40px;
  height: 200px;
  background-color: lightgray;
  font-family: sans-serif;
  font-size: medium;
  margin-bottom: 0;
}

.cat-card a:hover{
  color: blue;
  cursor: pointer;
}

.cat-card a{
    text-decoration: none;
    color: white;
}

.cat-card li{
  list-style-type: none;
  padding-bottom: 13px;
}

.last{
  background-color: rgb(7, 7, 7);
  width: 100%;
  color: white;
  text-align: center;
  font-size: medium;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 10px;
}
.last h2{
  margin-top: 0px;
  padding-top: 2%;
  
}

.container{
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-content: center;
}

#show{
  width: 500px;
  z-index: 8;
  position: fixed;
  display: flex;
  left: 30%;
  bottom: 20%;
  
  border-radius: 5px;
} 

#close{
    cursor: pointer;
    position: absolute;
    right: 5%;
    bottom: 70%;
    padding: 10px;
    border-radius: 5px;
}

@media screen and (max-width: 1000px){
  .all-images{
    display: flex;
    flex-direction: column;
  }

  .all-images img{
    width: 500px;
  }
  .inside-content{
    margin-top: 15%;
  }

  .about{
    padding-bottom: 10%;
    padding-top: 10%;
  }

  .last{
    padding-top: 10%;
    padding-bottom: 10%;
  }

  #show{
    left: 10%;
    width: 550px;
    bottom: 15%;
  }

  #close{
    bottom: 75%;
  }
}

@media screen and (max-width: 500px){
  .all-images img{
    width: 270px;
  }

  .inside-content{
    font-size: small;
    margin-top: 40%;
  }

  .header h1{
    font-size: 20px;
  }
  .menu-list a{
    font-size: 13px;
    margin-right: 10px;
    margin-top: 45px;
  }
  .header{
    padding-bottom: 40px;
  }

  .about{
    padding-bottom: 60%;
  }

  #show{
    width: 300px;
    bottom: 25%;
  }

  #close{
    bottom: 70%;
  }

  .cat-card{
    top: 12%;
  }

}
